$green: #1ECD97
$gray: #BBB


*
    box-sizing: border-box


html
    font-family: 'Source Sans Pro', sans-serif
    color: $gray
    //background-color: #484

h1
    font-weight: 300
    font-size: 3rem
    text-align: center
.form-box
    width: 480px
    margin: 10px auto

.inbox
    background-color: #252424
    height: 30px
    margin-bottom: 10px
.box
    background-color: #5A90A4
form
    display: none

select
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA2ElEQVRIS+2TPQ7CMAyF/ZId1F4FuAI/J0BsLFwKZjZGliJOwFnSLswkOIhKVSB1EOqWSl0q931+zzZo4AcD61MGiAnniH6PqCzLJSm1VUQ7Y8xdVOCCoijG0PoA5/Z1XV+7/3zM4AUAzlx0U8BCgnhxbqhioQm/KxHg6QxZM+QoQbhu5ICLFyfnNk3TnELH0S2SICniHta7pjGIF38AlSaaxjpvnYh3EEKstUgVFx20XXQh728zqfNkB18gLlU82UEHMgdgw1XsuxVxBimHlgF/pZRnIMb3BPr5YxmYGnrEAAAAAElFTkSuQmCC) no-repeat scroll right
    border-radius: 6px
    border: 1px $green solid
    height: 50px
    width: 100%
    padding-left: 5px
    margin-bottom: 10px
    appearance: none
    -webkit-appearance: none
    -moz-appearance: none
    outline: none
    &:focus
        border-color: darken($green, 20)
        transition: all 0.25s ease
    &:hover
        border-color: darken($green, 20)

button
    outline: none
    float: right
    height: 40px
    text-align: center
    width: 130px
    border-radius: 6px
    background: $green
    border: 2px solid $green
    color: white
    letter-spacing: 1px
    text-shadow: 0
    size: 12px
    weight: bold
    cursor: pointer
    transition: all 0.25s ease
    &:hover
        color: white
        background: darken($green, 20)
    &:focus
        background: darken($green, 20)
    &:active
        letter-spacing: 2px 

@media (max-width: 400px)
    .form-box
        width: 100%